html {
  scroll-behavior: smooth;
  transition-duration: 3s;
}

.container {
  min-width: 320px;
  margin: 0 auto;
  padding: 20px;
}

@media screen and (max-width: 767px) {
}

@media screen and (min-width: 375px) {
  .container {
    width: 375px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    padding-left: 16px;
    padding-right: 16px;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    width: 1280px;
    padding-left: 100px;
    padding-right: 100px;
  }
}

@media screen and (min-width: 1440px) {
  .container {
    width: 1440px;
  }
}
