.hero-section {
  height: 377px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;

  background: linear-gradient(
      0deg,
      rgba(243, 243, 243, 0) 62.3%,
      rgba(81, 204, 211, 0.1) 92.22%,
      rgba(182, 234, 237, 0.1) 92.23%
    ),
    linear-gradient(
      180deg,
      #3e1251 6.67%,
      rgba(61, 18, 80, 0.98) 6.67%,
      rgba(61, 18, 79, 0.98) 6.67%,
      rgba(60, 18, 79, 0.98) 6.68%,
      rgba(0, 0, 0, 0) 47.41%
    ),
    #fff;
}

.slogan-list {
}
.slogan-list-item {
  font-size: 10px;
}

.hero-text-wrapper {
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;

  /* Positioning */
  position: absolute;
  bottom: 104px;
  left: 113px;
}
.hero-title {
  font-size: 16px;
  color: var(--title-text-color);
}
.hero-descr {
  /* Box model */
  width: 150px;

  /* Typography */
  font-size: 12px;
  color: var(--secondary-text-color);
}
