<section class="about-section">
  <span class="bg-rect"></span>
  <ul class="about-list">
    <li class="about-list-item">
      <h2 class="about-list-title">Мета</h2>
      <ul class="goals-list">
        <li class="about-list-text goals-list-item">
          зробити молодь України більш успішною, амбіційною та пристосованою до
          змін за допомогою проведення проєктів, зустрічей та ініціатив;
        </li>
        <li class="about-list-text goals-list-item">
          збудувати спільноту освічених лідерів, які змінюватимуть світ;
        </li>
        <li class="about-list-text goals-list-item">
          підштовхнути світ до змін та реалізацій ідей за допомогою ініціатив,
          які ми створюємо.
        </li>
      </ul>
    </li>
    <li class="about-list-item">
      <h2 class="about-list-title">Волонтерство</h2>
      <p class="about-list-text"></p>
    </li>
    <li class="about-list-item">
      <h2 class="about-list-title">Цінності</h2>
      <p class="about-list-text"></p>
    </li>
  </ul>
</section>
