<header section="header-section">
  <div class="header-items-wrapper container">
    <a href="/index.html">
      <img
        class="header-logo"
        src="./img/mob/logo.jpg"
        width="35"
        height="35"
        alt="active generation logo"
      />
    </a>
    <nav class="header-nav">
      <ul class="header-navlist">
        <li class="header-navlist-item">Меню</li>
        <li class="header-navlist-item">Про нас</li>
        <li class="header-navlist-item">Команда</li>
        <li class="header-navlist-item">Проєкти</li>
        <li class="header-navlist-item">Розділи</li>
      </ul>
    </nav>
  </div>
</header>
