<section class="hero-section">
  <ul class="slogan-list">
    <li class="slogan-list-item item-1">Прагнення до змін</li>
    <li class="slogan-list-item item-2">Ідеї</li>
    <li class="slogan-list-item item-3">Можливості</li>
    <li class="slogan-list-item item-4">Креативність</li>
  </ul>
  <div class="hero-text-wrapper">
    <h1 class="hero-title">ACTIVE G</h1>
    <p class="hero-descr">
      Ми - молодіжна і волонтерська ініціатива неформальної освіти
    </p>
  </div>
  <img
    class="hero-img"
    src="./img/mob/about.png"
    width="380"
    height="118"
    alt="hero img"
  />
</section>
